body{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,c5d3f7+46,638cff+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #c5d3f7 46%, #638cff 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(46%,#c5d3f7), color-stop(100%,#638cff)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#c5d3f7 46%,#638cff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#c5d3f7 46%,#638cff 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#c5d3f7 46%,#638cff 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ffffff 0%,#c5d3f7 46%,#638cff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#638cff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	font-family: Helvetica;
	font-size: 14px
}
.field{
	background-color: #ddd;
	width: 50px;
	height: 50px;
	margin: 10px;
	position: absolute;
}

.field:hover{
	background-color: #ededed;
}

.colors{
	position: absolute;
	margin-top: 100px;
}

#colorlist li{
	width: 80px; 
	height: 20px;
	margin: 0px;
}

#colorlist li:hover{
	margin-left: 4px;
}

.currentcolor{
	margin-left: 40px;
}

.currentcolor #current{
	width: 80px; 
	height: 20px;
	background-color: #ddd;
}
#bttn-solve{
	margin-top: 20px;
	width: 350px;
	height: 30px;
	margin-left: 200px;
}
#tree{
	width: 45px;
	height: 45px;
	margin-top: -15px;
	margin-left: 3px;
	background-image: url("images/tree.png");
}